body {
    background-color: #0a192f;
}

/*Меню*/
.menuContainer {
    background-color: #10213E;
}
.signInContainer button {
    background-color: #10213E;
}

/*Инфобоксы*/
.infoBoxTotalGames, .infoBoxWinRatio, .infoBoxWinRatio h3, .infoBoxBestDuoId, .infoBoxMvp, .infoBoxMvp, .infoBoxBestStreakId {
    background-color: #172a46;
}
