body {
    background-color: #0a192f;
    color: #cfd8f3;
}

/*Меню*/
.menuContainer {
    background-color: #10213E;
}
.signInContainer button {
    background-color: #10213E;
}
/*Сезоны*/
#choosedSeason button {
    background-color: #172a46;
    color: #cfd8f3;
}

/*Инфобоксы*/
.infoBoxTotalGames, .infoBoxWinRatio, .infoBoxWinRatio h3, .infoBoxBestDuo, .infoBoxMvp, .infoBoxMvp, .infoBoxBestStreak {
    background-color: #172a46;
}

/*Таблица*/
#gameTable thead tr:nth-child(2) {
    color: gold;
}
  #gameTable thead tr:nth-child(3) {
    color: #f7f6f6;
}
  #gameTable thead tr:nth-child(4) {
    color: #e1a444;
}

.gameTableStyle tr:nth-child(-n+11) {
    background-color: #172a46;
}
.gameTableStyle tr:nth-child(n+12) {
    background-color: #172A3D;
}

/*Список игрв*/
.gameList, .editButtonContainer button {
    background-color: #10213E;
}
.editButton svg {
    fill: #cfd8f3;
}
.editConfirmation, .deleteConfirmation {
    background-color: rgba(23, 42, 70, 0.95);
}
.deleteConfirmationCheckBoxPath {
    stroke: #cfd8f3;
}

/*Добавление игр*/
.popup, input[type="text"] {
    background-color: #172a46;
    color: #cfd8f3;
}
input#gameLinkInput {
  background: rgb(28 59 104 / 95%);
}
input#gameLinkInput:focus {
  background: rgba(51, 95, 161, 0.95);
}
/*Тг лого*/
.LogoIconContainer {
    background-color: #172a46;
}