/*Обнуление*/
@import url("nullstyle.css");

/* Общие стили для страницы */
body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.logoIcon {
  width: 140px;
  height: auto; 
  display: block; 
  position: absolute; 
  top: 1px; 
  left: 1px; 
  border: 2px solid #0074cc; 
  border-radius: 50%; 
  background-color: transparent; 
  padding: 10px; 
  transition: transform 0.2s ease-in-out; 
}

.logoIcon:hover {
  transform: scale(1.3); 
}

/* Стили для заголовка */
h1 {
  font-size: 24px;
  margin: 0 0 20px;
  color: #333;
}

h2 {
  font-size: 30px;
  margin: 0 0 20px;
  color: #333;
}

/* Стили для таблицы */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f0f0f0;
  color: #444;
}

/* Стили для кнопок */
button.addGame {
  background-color: #0074cc;
  color: #fff;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button.addGame:hover {
  background-color: #005bbd;
}

/* Стили для всплывающего окна */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  width: 400px;
  border-radius: 10px;
}

.popup-content {
  text-align: center;
  padding: 35px 30px 10px 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #777;
  cursor: pointer;
}

input[type="text"] {
  width: 100%;
  padding: 10px 10px 10px 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="text"]:focus {
  border-color: #0074cc;
}

button {
  padding: 15px 30px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  width: 120px;
}

span#gameInfoForAdd {
  font-size: 18px;
  color: gray;
}

button#nextButton {
  background-color: #0074cc;
  color: #fff;
  padding: 15px 10px;
  border-radius: 15px;
}

button#nextButton:hover {
  background-color: #005bbd;
}

button#yesButton {
  background-color: #69b96c;
  color: #fff;
  padding: 10px 5px;
  display: inline-block;
  margin-top: 10%;
  margin-left: 20px;
}

button#noButton {
  background-color: #c0433b;
  color: #fff;
  padding: 10px 5px;
  display: inline-block;
  margin-left: 15%;
}

button.yesButton:hover, button.noButton:hover {
  opacity: 0.9;
}

/* Стили для текста в всплывающем окне */
.popup-text {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

/*Анимация загрузки игры с сервера*/
.loadingGamesAnimation {
  --size: 40px;
  --first-block-clr: #0057b8;
  --second-block-clr: #ffd700;
  --clr: #111;
  width: 240px;
  height: 240px;
  position: fixed;
  top: 12%;
  left: 50%;
  z-index: 12;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.loadingGamesAnimation::after, .loadingGamesAnimation::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  width: var(--size);
  height: var(--size);
  top: 50%;
  animation: upp 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
  left: 50%;
  background: var(--first-block-clr);
  z-index: 12;
}

.loadingGamesAnimation::after {
  background: var(--second-block-clr);
  top: calc(50% - var(--size));
  left: calc(50% - var(--size));
  animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

.loadingGameAnimationText {
  position: relative;
  left: -1px;
  z-index: 11;
  transform: scale(0.6667);
}

@keyframes down {
  0%, 100% {
    transform: none;
  }
  25% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(100%) translateY(100%);
  }

  75% {
    transform: translateY(100%);
  }
}
@keyframes upp {
  0%, 100% {
   transform: none;
  }
 
  25% {
   transform: translateX(-100%);
  }
 
  50% {
   transform: translateX(-100%) translateY(-100%);
  }
 
  75% {
   transform: translateY(-100%);
  }
 }

/*Анимация загрузки поиска игры*/
.loadingPopupAnimation {
  --size: 60px;
  --first-block-clr: #0057b8;
  --second-block-clr: #ffd700;
  --clr: #111;
  width: 240px;
  height: 240px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 12;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.loadingPopupAnimation::after, .loadingPopupAnimation::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  width: var(--size);
  height: var(--size);
  top: 50%;
  animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
  left: 50%;
  background: var(--first-block-clr);
  z-index: 12;
}

.loadingPopupAnimation::after {
  background: var(--second-block-clr);
  top: calc(50% - var(--size));
  left: calc(50% - var(--size));
  animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

.loadingPopupAnimationText {
  position: relative;
  left: -1px;
  z-index: 11;
}

@keyframes down {
  0%, 100% {
    transform: none;
  }
  25% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(100%) translateY(100%);
  }

  75% {
    transform: translateY(100%);
  }
}
@keyframes up {
  0%, 100% {
   transform: none;
  }
 
  25% {
   transform: translateX(-100%);
  }
 
  50% {
   transform: translateX(-100%) translateY(-100%);
  }
 
  75% {
   transform: translateY(-100%);
  }
 }