/*Обнуление*/
@import url("nullstyle.css");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Days+One&family=Montserrat&display=swap');

/* Общие стили для страницы */
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.gameTable {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 18px;
}
/* Стили для таблицы */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #c4c1c1;
}

table th {
  background-color: #f0f0f0;
  color: #3f3e3e;
}

.loadingGameInfo{
  width: 625px;
  height: 43px;
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%);
  margin-top: 45px;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: loadInfo 1s infinite;

  display: none;
}
.loadingGameInfo2{
  width: 625px;
  height: 43px;
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%);
  margin-top: 90px;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: loadInfo 1.2s infinite;

  display: none;
}
.loadingGameInfoBox{
  width: 100px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%);
  margin-top: 25px;
  margin-left: 25px;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: loadInfo 1.2s infinite;

  display: none;
}
.loadingGameInfoBox2 {
  width: 100px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%);
  margin-top: 120px;
  margin-left: 25px;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: loadInfo 1.1s infinite;
  
  display: none;
}
.loadingGameInfoBox3 {
  width: 100px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%);
  margin-top: 185px;
  margin-left: 25px;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: loadInfo 1s infinite;
  
  display: none;
}
.loadingGameInfoBox4 {
  width: 100px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%);
  margin-top: 265px;
  margin-left: 25px;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: loadInfo 1.1s infinite;
  
  display: none;
}
.loadingGameInfoBox5 {
  width: 100px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%);
  margin-top: 360px;
  margin-left: 25px;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: loadInfo 1s infinite;
  
  display: none;
}

@keyframes loadInfo {
  100% {
    background-position: -100% 0;
  }
}

/*Инфо боксы*/
.infoBox {
  margin-left: 20px;
  flex:1;
}

.infoBoxTotalGames {
  width: 120%;
  height: 165px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  position: relative;
  cursor: pointer;
}
.infoBoxTotalGames h3 {
  font-size: 25px;
}
/* Выглядит как календарь ?
.infoBoxTotalGames::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #74747469;
  position: absolute;
  left: 0;
  top: 25%;
}
*/
.totalGamesCount {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 73px;
  position: relative;
  top: 20%;
  text-align: center;
  letter-spacing: 3px;
}
.arrowIcon {
  font-size: 25px;
  font-weight: 100;
  position: absolute;
  bottom: 5px;
  right: 10px;
  transition: transform 0.3s ease;
  color: #929292;
}
.arrowIcon::before {
  content: ">";
  display: inline-block;
}
.arrowIcon.opened::before {
  transform: rotate(30deg);
}
.gameList {
  position: relative;
  min-width: 150%;
  min-height: 100%;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  left: 110%;
  cursor: default;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 2s ease, max-height 2s ease;
  transform-origin: center top;
}
.gameList.opened {
  opacity: 1;
  max-height: 300%;
}
.gameList span {
  position: relative;
  top: 10px;
}



.infoBoxWinRatio {
  width: 120%;
  height: 165px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  position: relative;
}

.infoBoxBestDuo {
  width: 150px;
  height: 70px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.infoBoxMvp {
  width: 150px;
  height: 70px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.infoBoxBestStreak {
  width: 150px;
  height: 70px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/*Лого*/
.logoIcon { 
  transition: transform 0.2s ease-in-out; 
  max-height: 70px;
  margin-left: 11%;
  margin-top: 11%;
}

.logoIcon:hover {
  transform: scale(1.3); 
}

.LogoIconContainer {
  position: fixed;
  right: 8px;
  bottom: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

/* Стили для заголовка */
h1 {
  font-size: 24px;
  margin: 0 0 20px;
  color: #333;
}

h2 {
  font-size: 30px;
  margin: 0 0 20px;
  color: #333;
}

/* Стили для кнопок */
.addGame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #34D399;
  border: 2px solid #34D399;
  border-radius: 0.375rem;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  max-height: 55px;
  width: 150px;
  transition: background-color 0.3s, border-color 0.3s;
}

.addGame .addGameSpan {
  font-size: 15px;
  transition: transform 0.3s;
}

.addGame::before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 13%;
  transform: translateY(-50%) translateX(-50px) scale(0);
  opacity: 0;
  transition: opacity 0.1s, transform 0.1s;
}

.addGame:hover .addGameSpan {
  transform: translateX(13px);
}

.addGame:hover::before {
  opacity: 1;
  transform: translateY(-50%) translateX(-50%) scale(1);
  transition-delay: 0.2s;
}

.addGame:hover {
  background-color: #2cb482;
}

.addGame .addGameSpan:active {
  transform: translateX(40px)
}

/* Стили для всплывающего окна */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  width: 400px;
  border-radius: 10px;
}

.popup-content {
  text-align: center;
  padding: 35px 30px 10px 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #777;
  cursor: pointer;
}

input[type="text"] {
  width: 100%;
  padding: 10px 10px 10px 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="text"]:focus {
  border-color: #0074cc;
}

button {
  padding: 15px 30px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  width: 120px;
}

span#gameInfoForAdd {
  font-size: 18px;
  color: gray;
}

button#nextButton {
  background-color: #0074cc;
  color: #fff;
  padding: 15px 10px;
  border-radius: 15px;
}

button#nextButton:hover {
  background-color: #005bbd;
}

button#yesButton {
  background-color: #69b96c;
  color: #fff;
  padding: 10px 5px;
  display: inline-block;
  margin-top: 10%;
  margin-left: 20px;
}

button#noButton {
  background-color: #c0433b;
  color: #fff;
  padding: 10px 5px;
  display: inline-block;
  margin-left: 15%;
}

button.yesButton:hover, button.noButton:hover {
  opacity: 0.9;
}

/* Стили для текста в всплывающем окне */
.popup-text {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

/*Анимация загрузки поиска игры*/
.loadingPopupAnimation {
  --size: 60px;
  --first-block-clr: #0057b8;
  --second-block-clr: #ffd700;
  --clr: #111;
  width: 240px;
  height: 240px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 12;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.loadingPopupAnimation::after, .loadingPopupAnimation::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  width: var(--size);
  height: var(--size);
  top: 50%;
  animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
  left: 50%;
  background: var(--first-block-clr);
  z-index: 12;
}

.loadingPopupAnimation::after {
  background: var(--second-block-clr);
  top: calc(50% - var(--size));
  left: calc(50% - var(--size));
  animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

.loadingPopupAnimationText {
  position: relative;
  left: -1px;
  z-index: 11;
}

@keyframes down {
  0%, 100% {
    transform: none;
  }
  25% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(100%) translateY(100%);
  }

  75% {
    transform: translateY(100%);
  }
}
@keyframes up {
  0%, 100% {
   transform: none;
  }
 
  25% {
   transform: translateX(-100%);
  }
 
  50% {
   transform: translateX(-100%) translateY(-100%);
  }
 
  75% {
   transform: translateY(-100%);
  }
 }