/*Обнуление*/
@import url("nullstyle.css");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap');

/* Общие стили для страницы */
body {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.menuContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: absolute;
  left: 50%; 
  transform: translateX(-50%);
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.5);
  width: 1400px;
  height: 45px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.logoShelterStatsContainer img {
  position: relative;
  width: 85px;
}
.switchThemeContainer {
  display: flex;
  align-items: center;
  margin-right: 70px;
}
.switchTheme {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  margin-right: 20px;
}
.switchTheme input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switchThemeSlider {
  --background: #28096b;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: .5s;
  border-radius: 30px;
}
.switchThemeSlider::before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: var(--background);
  transition: .5s;
}
input:checked + .switchThemeSlider {
  background-color: #522ba7;
}
input:checked + .switchThemeSlider::before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}

.signInContainer {
  position: absolute;
  right: 30px;
  top:55%;
  transform: translateY(-50%);
}
.signInContainer button {
  background-color: white;
}

.containerStyle {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

/* Стили для таблицы */
.gameTableStyle th {
  font-size: 15px;
  background-color: #8080804d;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}

.gameTableStyle th:first-child {
  width: 50px;
}
.gameTableStyle th:nth-child(2) {
  width: 115px;
}
.gameTableStyle th:nth-child(3) {
  width: 90px;
}
.gameTableStyle th:nth-child(4) {
  width: 90px;
}
.gameTableStyle th:nth-child(5) {
  width: 90px;
}
#gameTable thead tr:nth-child(1) {
  background-color:black; 
  cursor: pointer;  

}
#gameTable thead th:nth-child(1) {
  color:white;
}
#gameTable thead th:nth-child(2) {
  color:white;
}
#gameTable thead th:nth-child(3) {
  color:white;
}
#gameTable thead th:nth-child(4) {
  color:white;
}
#gameTable thead th:nth-child(5) {
  color:white;
}

#gameTable thead tr:nth-child(2) {
  background-color:gold;   
}
#gameTable thead tr:nth-child(3) {
  background-color:#c2c2c2;
}
#gameTable thead tr:nth-child(4) {
  background-color:#cd7f32; 
  opacity:0.9;
}

#choosedSeason {
  position: relative;
  float: left;
  margin-right: 5px;
}
#choosedSeason button {
  width: 100px;
  height: 45.5px;
  border: 1px solid #000;
}

#seasonButtonContainer {
  display: none;
  position: absolute;
}
#todayButton {
  display: none;
  position: absolute;
}
#seasonButtonContainer-active {
  position: absolute;
  animation: slideDownToActive 0.25s forwards;
}
#todayButton-active {
  position: absolute;
  animation: slideRightToActive 0.3s forwards;
}
#seasonButtonContainer-active button {
  margin-top: 5px;
}
@keyframes slideRightToActive {
  from {
    left: -80px;
    opacity: 0;
  }
  to {
    left: -105px; 
    opacity: 1;
  }
}
@keyframes slideDownToActive {
  from {
    top: 20px;
    opacity: 0;
  }
  to {
    top: 46px; 
    opacity: 1;
  }
  
}


.gameTableStyle td:last-child {
  transform: translateX(10px);
}

.gameTableStyle {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.gameTableStyle th, .gameTableStyle td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #c4c1c1;
}
.gameTableStyle td:last-child {
  transform: translateX(8px);
}

.loadingGameInfo{
  width: 625px;
  height: 43px;
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%);
  margin-top: 45px;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: loadInfo 1s infinite;

  display: none;
}
.loadingGameInfo2{
  width: 625px;
  height: 43px;
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%);
  margin-top: 90px;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: loadInfo 1.2s infinite;

  display: none;
}
.loadingGameInfoBox{
  width: 100px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%);
  margin-top: 25px;
  margin-left: 25px;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: loadInfo 1.2s infinite;

  display: none;
}
.loadingGameInfoBox2 {
  width: 100px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%);
  margin-top: 120px;
  margin-left: 25px;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: loadInfo 1.1s infinite;
  
  display: none;
}
.loadingGameInfoBox3 {
  width: 100px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%);
  margin-top: 185px;
  margin-left: 25px;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: loadInfo 1s infinite;
  
  display: none;
}
.loadingGameInfoBox4 {
  width: 100px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%);
  margin-top: 265px;
  margin-left: 25px;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: loadInfo 1.1s infinite;
  
  display: none;
}
.loadingGameInfoBox5 {
  width: 100px;
  height: 25px;
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%);
  margin-top: 360px;
  margin-left: 25px;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: loadInfo 1s infinite;
  
  display: none;
}

@keyframes loadInfo {
  100% {
    background-position: -100% 0;
  }
}

/*Инфо боксы*/
.infoBox {
  margin-left: 20px;
  flex:1;
}

.infoBoxTotalGames {
  width: 180px;
  height: 165px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  position: relative;
  cursor: pointer;
}
.infoBoxTotalGames h3 {
  font-size: 25px;
}
/* Выглядит как календарь ?
.infoBoxTotalGames::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #74747469;
  position: absolute;
  left: 0;
  top: 25%;
}
*/
.totalGamesCount {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  font-size: 73px;
  position: relative;
  top: 16%;
  text-align: center;
  letter-spacing: 3px;
}
.arrowIcon {
  font-size: 25px;
  font-weight: 100;
  position: absolute;
  bottom: 5px;
  right: 10px;
  transition: transform 0.3s ease;
  color: #929292;
}
.arrowIcon::before {
  content: ">";
  display: inline-block;
}
.arrowIcon.opened::before {
  transform: rotate(30deg);
}
.gameList {
  position: relative;
  min-width: 350px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  left: 110%;
  cursor: default;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 2s ease, max-height 2s ease;
  transform-origin: center top;
  font-size: 13px;
  overflow-y: auto;
  top: -50px;
}
.gameList.opened {
  opacity: 1;
  min-height: 350px;
}
.gameListId{
  margin-top: 15px;
}
.editButtonContainer {
  margin-top: 3px;
}
.editButtonContainer button {
  background-color: white;
}
.gameListId td {
  padding: 4px 14px;
  text-align: center;
}
.gameListIdThead th {
  text-align: center;
  padding: 10px;
}

.deleteButtonBlock{
  position: relative;
  width: 35px;
  height: 35px;
  top: 50%;
  left: 25%;
  margin-left: 0;
}
.deleteButton {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
}

.deleteButtonSvg {
  width: 10px;
  transition-duration: .3s;
}

.deleteButtonSvg path {
  fill: white;
}

.deleteButton:hover {
  width: 65px;
  margin-left: -15px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.deleteButton:hover .deleteButtonSvg {
  width: 35px;
  transition-duration: .3s;
  transform: translateY(60%);
}

.deleteButton::before {
  position: absolute;
  top: -28px;
  content: "Delete";
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}

.deleteButton:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}

.deleteButton:active::before {
  transform: translateY(50%);
  transition: transform 0.3s ease;
}

.sortedUpBy::after {
  content: '\203A';
  transform: rotate(90deg); 
  display: inline-block; 
  margin-left: 5px;
}
.sortedDownBy::after {
  content: '\203A';
  transform: rotate(270deg); 
  display: inline-block; 
  margin-left: 1px;
}

.deleteConfirmation {
  display: none;
  background-color: rgba(255, 255, 255, 0.95);
  width: 310px;
  height: 288px;
  margin: 40px 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 10;
  border-top: 10px solid #f00;
}
.deleteConfirmationSvgContainer {
  margin-bottom: -55px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  width: 60px;
  height: 60px;
  top: -35px;
  left: 125px;
}
.deleteConfirmationSvg {
  width: 40px;
  height: 40px;
  fill: #fff;
  margin-top: 10px;
}
.deleteConfirmation h1 {
  font-size: 24px;
  margin-bottom: 25px;
  margin-top: 25px;
}
#deleteConfirmationData {
  font-size: 18px;
  margin-top: 10px;
}
.deleteConfirmationButtons {
  margin-top: 105px;
}
.deleteConfirmation button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  border-top-left-radius: 15%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 15%;
  border-bottom-left-radius: 0%;
}
#deleteConfirmationButtonDelete {
  background-color: #ff4a5c;
  color:white;
}
.deleteConfirmationCheckBoxContainer {
  position: relative;
  display: block;
  cursor: pointer;
  top: 90px;
}
.deleteConfirmationCheckBoxContainer input {
  display: none;
}
.deleteConfirmationCheckBoxContainer svg {
  overflow: visible;
  width: 15px;
}
.deleteConfirmationCheckBoxSpan {
  position: relative;
  top: -8px;
  left: 4px;
}
.deleteConfirmationCheckBoxPath {
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}
.deleteConfirmationCheckBoxContainer input:checked ~ svg .deleteConfirmationCheckBoxPath{
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}

.editConfirmation {
  display: none;
  background-color: rgba(255, 255, 255, 0.95);
  width: 310px;
  height: 288px;
  margin: 40px 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 10;
  border-top: 10px solid #60ACE2;
}
.editConfirmationSvgContainer {
  margin-bottom: -55px;
  background-color: #60ACE2;
  border-radius: 50%;
  position: relative;
  width: 60px;
  height: 60px;
  top: -35px;
  left: 125px;
}
.editConfirmationSvg {
  width: 40px;
  height: 40px;
  fill: #fff;
  margin-top: 10px;
}
#editDataThead {
  display: flex;
  position: relative;
  top: 27x;
}
#editDataThead {
  margin-left: 15px;
}

.editConfirmationButtons {
  position: absolute;
  bottom: 13px;
}
.editConfirmation button {
  padding: 3px 7px;
  font-size: 15px;
  font-weight: 300;
  margin: 0 13px;
  cursor: pointer;
  border-top-left-radius: 15%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 15%;
  border-bottom-left-radius: 0%;
}

.editTable {
  border-collapse: collapse;
  width: 100%;
  margin-top: 25px;
  font-size: 13px;
}
.editTable td {
  padding:3.8px 1px 1px 1px;
}
#editGameDate {
position: absolute;
font-size: 18px;
top: 1px;
left: 20px;
}
#editConfirmationGameId {
  position: absolute;
  font-size: 18px;
  top: 1px;
  right: 16px;
}

#editConfirmationButtonSaveEdit {
  background-color: #34d399;
  color:white;
}
#editConfirmationButtonCancel {
  background-color: #f96b6b;
  color: white;
}


.infoBoxWinRatio {
  width: 180px;
  height: 165px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}
.infoBoxWinRatioCheese {
  position: relative;
  top: -35px;
}
.infoBoxWinRatio span {
  position: relative;
  top: -28px;
  color: red;
}
.infoBoxWinRatio h3 {
  position: relative;
  top: -178px;
  background-color: white;
  font-size: 14px;
}

.infoBoxBestDuo {
  width: 180px;
  height: 100px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  position: relative;
}
.infoBoxBestDuo h3 {
  position: relative;
  top: -4px;
}
#infoBoxBestDuoId {
  width: 180px; 
  height: 100px; 
  overflow: hidden; 
}
#infoBoxBestDuoId table td {
  padding: 8px 0px 0px 10px; 
}
#infoBoxBestDuoId table tr:first-child td:first-child {
  padding-left: 23px;
}
#infoBoxBestDuoId table tr:nth-child(2) td:nth-child(2) {
  padding-left: 0px;
}
#infoBoxBestDuoId table tr:first-child td:nth-child(2) {
  position:relative;
  left: -10px;
}
#infoBoxBestDuoId table {
  table-layout: fixed;
}
#infoBoxBestDuoId table td:first-child {
  width: 30px; 
}
#infoBoxBestDuoId table td:last-child {
  width: 150px;
}
span#civilDuo {
  color: #ff0000;
}
span#mafiaDuo {
  color: #000000;
}


.infoBoxMvp {
  width: 180px;
  height: 85px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  position: relative;
}
.infoBoxMvp span {
  position: relative;
  top: 14px;
  font-size: 19px;
}


.infoBoxBestStreak {
  width: 180px;
  height: 100px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  position: relative;
}
.infoBoxBestStreak h3 {
  position: relative;
  top: -4px;
}
#infoBoxBestStreakId {
  width: 180px; 
  height: 100px; 
  overflow: hidden; 
}
#infoBoxBestStreakId table td {
  padding: 8px 0px 0px 10px; 
}
#infoBoxBestStreakId table tr:first-child td:first-child {
  padding-left: 23px;
}
#infoBoxBestStreakId table tr:nth-child(2) td:nth-child(2) {
  padding-left: 0px;
}
#infoBoxBestStreakId table {
  table-layout: fixed;
}
span#civilBestStreak {
  color: #ff0000;
}
span#mafiaBestStreak {
  color: #000000;
}
#mafiaBestStreakFirePngContainer {
  position: absolute;
  top: 57px;
  left: 125px;
  z-index: 8;
  opacity: 0.9;
}
#mafiaBestStreakCounter {
  position: absolute;
  z-index: 9;
  left: 135px;
  top: 65px;
}

#civilBestStreakFirePngContainer {
  position:absolute;
  top: 26.8px;
  left: 135.6px;
  z-index:8;
  opacity: 0.9;
}
#civilBestStreakCounter {
  position:absolute;
  z-index: 9;
  left: 145px;
  top: 36px;
}


/*Лого*/
.logoIcon { 
  transition: transform 0.2s ease-in-out; 
  max-height: 70px;
  margin-left: 11%;
  margin-top: 11%;
}

.logoIcon:hover {
  transform: scale(1.3); 
}

.LogoIconContainer {
  position: fixed;
  right: 8px;
  bottom: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

/*
.makeScreenShot{
  position: absolute;
  bottom: 10px;
  left: 0px;
  width: 40px;
  height: 40px; 
}
*/

.makeScreenShotContainer {
  position: fixed;
  left: 10px;
  bottom: 5px;
}
.makeScreenShot {
  --button-bg: #d0d0d0;
  --button-hover-bg: #dfdfdf;
  --button-text-color: #CCCCCC;
  --button-hover-text-color: #8bb9fe;
  --button-border-radius: 10px;
  --button-diameter: 36px;
  --button-outline-width: 1px;
  --button-outline-color: rgb(141, 141, 141);

  --tooltip-bg: #d0d0d0;
  --toolptip-border-radius: 4px;
  --tooltip-font-family: Menlo, Roboto Mono, monospace;
  --tooltip-font-size: 12px;
  --tootip-text-color: rgb(50, 50, 50);
  --tooltip-padding-x: 7px;
  --tooltip-padding-y: 7px;
  --tooltip-offset: 8px;
}
.makeScreenShot {
  box-sizing: border-box;
  width: var(--button-diameter);
  height: var(--button-diameter);
  border-radius: var(--button-border-radius);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
}
.tooltip {
  position: absolute;
  opacity: 0;
  visibility: 0;
  top: 0;
  left: 100%;
  transform: translate(5px, 120%);
  white-space: nowrap;
  font: var(--tooltip-font-size) var(--tooltip-font-family);
  color: var(--tootip-text-color);
  background: var(--tooltip-bg);
  padding: var(--tooltip-padding-y) var(--tooltip-padding-x);
  border-radius: var(--toolptip-border-radius);
  pointer-events: none;
  transition: all var(--tooltip-transition-duration) cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.tooltip::before {
  content: attr(data-text-initial);
}
.tooltip::after {
  content: "";
  position: absolute;
  bottom: calc(var(--tooltip-padding-y) / 2 * -1);
  width: var(--tooltip-padding-y);
  height: var(--tooltip-padding-y);
  background: inherit; 
  left: -1.9px; 
  transform: translateY(-65%) rotate(-64deg);  /* Поворот указателя */
  z-index: 10;
  pointer-events: none;
}
.makeScreenShot svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.checkmark {
  display: none;
}
.makeScreenShot:hover .tooltip,
.makeScreenShot:focus:not(:focus-visible) .tooltip {
  opacity: 1;
  visibility: visible;
  top: calc((100% + var(--tooltip-offset)) * -1);
}
.makeScreenShot:focus:not(:focus-visible) .tooltip::before {
  content: attr(data-text-end);
}
.makeScreenShot:focus:not(:focus-visible) .makeScreenShotSvg {
  display: none;
}
.makeScreenShot:focus:not(:focus-visible) .checkmark {
  display: block;
}
.makeScreenShot:hover,
.makeScreenShot:focus {
  background-color: var(--button-hover-bg);
}
.makeScreenShot:active {
  outline: var(--button-outline-width) solid var(--button-outline-color);
}
.makeScreenShot:hover svg {
  color: var(--button-hover-text-color);
}

/* Стили для заголовка */
h1 {
  font-size: 24px;
  margin: 0 0 20px;
  color: #333;
}

h2 {
  font-size: 30px;
  margin: 0 0 20px;
  color: #333;
}

/* Стили для кнопок */
.addGame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #34D399;
  border: 2px solid #34D399;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  max-height: 48px;
  width: 150px;
  transition: background-color 0.3s, border-color 0.3s;
  padding: 15px 30px;
  margin: 0px 0px 0px 10px;
  cursor: pointer;
  font-size: 18px;
}


.addGame .addGameSpan {
  font-size: 15px;
  transition: transform 0.3s;
}

.addGame::before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 13%;
  transform: translateY(-50%) translateX(-50px) scale(0);
  opacity: 0;
  transition: opacity 0.1s, transform 0.1s;
}

.addGame:hover .addGameSpan {
  transform: translateX(13px);
}

.addGame:hover::before {
  opacity: 1;
  transform: translateY(-50%) translateX(-50%) scale(1);
  transition-delay: 0.2s;
}

.addGame:hover {
  background-color: #2cb482;
}

.addGame .addGameSpan:active {
  transform: translateX(40px)
}

/* Стили для всплывающего окна */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  width: 400px;
  border-radius: 10px;
}

.popup-content {
  text-align: center;
  padding: 35px 30px 10px 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #777;
  cursor: pointer;
}

input[type="text"] {
  width: 100%;
  padding: 10px 10px 10px 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="text"]:focus {
  border-color: #0074cc;
}

.popup button {
  padding: 15px 30px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  width: 120px;
}

span#gameInfoForAdd {
  font-size: 18px;
  color: gray;
}

button#nextButton {
  background-color: #0074cc;
  color: #fff;
  padding: 15px 10px;
  border-radius: 15px;
}

button#nextButton:hover {
  background-color: #005bbd;
}

button#yesButton {
  background-color: #69b96c;
  color: #fff;
  padding: 10px 5px;
  display: inline-block;
  margin-top: 10%;
  margin-left: 20px;
}

button#noButton {
  background-color: #c0433b;
  color: #fff;
  padding: 10px 5px;
  display: inline-block;
  margin-left: 15%;
}

button.yesButton:hover, button.noButton:hover {
  opacity: 0.9;
}

/* Стили для текста в всплывающем окне */
.popup-text {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

/*Анимация загрузки поиска игры*/
.loadingPopupAnimation {
  --size: 60px;
  --first-block-clr: #0057b8;
  --second-block-clr: #ffd700;
  --clr: #111;
  width: 240px;
  height: 240px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 12;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.loadingPopupAnimation::after, .loadingPopupAnimation::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  width: var(--size);
  height: var(--size);
  top: 50%;
  animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
  left: 50%;
  background: var(--first-block-clr);
  z-index: 12;
}

.loadingPopupAnimation::after {
  background: var(--second-block-clr);
  top: calc(50% - var(--size));
  left: calc(50% - var(--size));
  animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

.loadingPopupAnimationText {
  position: relative;
  left: -1px;
  z-index: 11;
}

@keyframes down {
  0%, 100% {
    transform: none;
  }
  25% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(100%) translateY(100%);
  }

  75% {
    transform: translateY(100%);
  }
}
@keyframes up {
  0%, 100% {
   transform: none;
  }
 
  25% {
   transform: translateX(-100%);
  }
 
  50% {
   transform: translateX(-100%) translateY(-100%);
  }
 
  75% {
   transform: translateY(-100%);
  }
}

.gameTableStyle tr:nth-child(-n+11) {
  background-color: #ffffff;
}

/* Стили для остальных строк таблицы */
.gameTableStyle tr:nth-child(n+12) {
  background-color: #e9e9e9;
}


/* Тёмная тема */
.darkTheme {
  background-color: #0a192f;
  color: #afb9d9;
}